.carousel-container {
  width: 100%;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.carousel-track {
  display: flex;
  height: 100%;
  gap: 24px;
  position: relative;
  animation: scroll 30s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move by the width of one set of images */
  }
}

.carousel-item {
  flex: 0 0 auto;
  height: 100%;
}

.carousel-item img {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

/* Pause animation on hover */
.carousel-container:hover .carousel-track {
  animation-play-state: paused;
}