.carousel-container {
  width: 100%;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.carousel-track {
  display: flex;
  height: 100%;
  gap: 24px;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.carousel-track::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carousel-item {
  flex: 0 0 auto;
  height: 100%;
}

.carousel-item img {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}