#root {
  max-width: 100vw;
  margin: 0;
  text-align: center;
}

.logo {
  height: 48px;
  /* width: 120px; */
  align-self: middle;
  will-change: filter;
  transition: filter 300ms;
}


/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cff60);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
  
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  /* padding: 24px 0; */
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.icon-container {
  width: 40px;
  height: 40px;
  background-color: #f4f5f6;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  text-decoration: none;
}

.icon-container:hover {
  background-color: #0577b3;
  color: white;
  transform: translateY(-2px);
}

.social-icon {
  font-size: 20px;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.carousel-wrapper {
  width: 100%;
  margin: 0;
  flex-shrink: 0;
  margin: 20px 0px;
}

.carousel-wrapper-2{
  display: block;
  margin: 0;
}

.countdown {
  display: flex;
  gap: 1rem;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .carousel-wrapper-2 {
    display: block;
  }
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
}

.countdown-divider {
  width: 2px;
  height: 40px;
  background-color: #555;
  opacity: 0.2;
  gap: 0.25rem;
}

.countdown-number {
  font-size: 24px;
  font-weight: 400;
  color: #555;
}

.countdown-label {
  font-size: 12px;
  font-weight: 400;
  color: #555;
  text-transform: uppercase;
}




/* Responsive adjustments */




@media (min-width: 325px) and (max-width: 600px) {
  .card {
    gap: 24px;
    padding: 16px;
  }
  .carousel-wrapper {
    margin: 16px 0px;
  }
  .carousel-wrapper-2 {
    display: block;
    margin: 0;
  }
  .countdown {
    display: none;
  }

  .logo {
    height: 48px;
  }
}
