#root {
  max-width: 100vw;
  margin: 0;
  text-align: center;
}

.logo {
  height: 8em;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /* padding: 2em; */
  height: 100%;
  justify-content: space-between;
}

.carousel-wrapper {
  margin-top: 24px;
  /* max-width: 800px; */
  margin-left: auto;
  margin-right: auto;
}

.countdown {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
}

.countdown-divider {
  width: 2px;
  height: 40px;
  background-color: #555;
  opacity: 0.2;
  gap: 0.25rem;
}

.countdown-number {
  font-size: 32px;
  font-weight: 400;
  color: #555;
}

.countdown-label {
  font-size: 12px;
  font-weight: 400;
  color: #555;
  text-transform: uppercase;
}

.read-the-docs {
  color: #888;
}
